@import url(http://fonts.googleapis.com/css?family=Lato);

#menu-container {
    margin: 0 auto;
    background: rgba(0,0,0, 0.4);
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding-top: 120px;
    padding-bottom: 50px;
	color: #fff;
	text-align: center;
}


#menu-content {
    margin-top: 10px;
}

#brunch-header, #lunch-header, #dinner-header, #buffet-header, #drinks-header {
    padding: 20px 0;
    font-size: 30px;
    margin: 0 auto;
    /*margin-bottom: 20px;*/
    margin-top: 20px;
    width: 50%;
    /*border: 2px solid #300c0a;*/   
    /*border-radius: 10px;*/
    cursor: pointer;
}


#menu-content > h2:after{ 
    content: "+";
    display: inline-block;
    margin-left: 20px;
  
}


.changedContent:after{
   
     -ms-transform: rotate(45deg) !important; /* IE 9 */
    -webkit-transform: rotate(45deg)!important; /* Chrome, Safari, Opera */
    transform: rotate(45deg)!important;
    transition: all 0.5s ease;


}


#brunch-content, #lunch-content, #dinner-content, #buffet-content, #drinks-content {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    
}

#brunch-content, #lunch-content, #dinner-content, #buffet-content, #drinks-content ul li {
    /*display: inline-block;*/
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    /*border: 1px solid #300c0a;*/
    padding: 10px 5px;
    /*background: rgba(0,0,0,0.7);*/
}

#menu-container >  div > div{
    background-color:rgba(0,0,0,0.5);
}

#menu-container >  div > div > h2{
    font-size: 20px;
    margin-bottom: 10px;
}

#menu-container div,#menu-container .desc{
     color: orange;
    font-weight: bold;

}

#menu-container div h2 {
    color: #fff;
    font-weight: 400;
}

#menu-container div .price{
    padding-top:15px;
    color: #fff;
}

#menu-container div .desc{
    color: orange;
    font-weight: bold;
    padding:15px 10px 40px;
    font-size: 14px;
}

#buffet-content  h3{
    font-size: 20px;
}

#buffet-content ul > li {

}

#buffet-content  > ul > li > ul{
    margin-top: -25px;
    margin-bottom: 60px;
    border-bottom: 1px dotted #fff;
    padding-bottom: 30px;
}

#buffet-content .desc{
    padding-bottom: 0 !important;
    margin-bottom: 0;
    border:none;
}


#buffet-content ul li{
    margin-top: 40px;
}


.clear {
    clear: both;
}