@import url(http://fonts.googleapis.com/css?family=Lato);

#menu_container {
    margin: 0 auto;
    margin-top: 120px;
    background: rgba(0,0,0, 0.7);
	font-family: 'Lato', sans-serif;
	width: 90%;
	min-height: 480px;	
	padding: 20px;
	color: #fff;
	text-align: center;
}

#menu_selector {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
}

#menu_selector .menu_btn {
    display: inline-block;
    margin: 0 10px;
    max-width: 100px;
    padding: 5px 30px;
    border: 1px solid black;
    background: #4d1d03;
}

#menu_selector .menu_btn:hover {
    background: #300c0a;
}

#menu_content {
    margin-top: 20px;
}

#brunch_content {
       
}

#brunch-left-col {
    float: left;
    width: 30%;
}

#brunch-right-col {
    float: right;
    width: 68%;
}

#brunch-right-col ul li {
    display: inline-block;
    width: 48%;
    margin-bottom: 40px;
}

#lunch_content {
    display: none;
}

#dinner_content {
    display: none;
}

#buffet_content {
    display: none;
}

#drinks_content {
    display: none;
}


