.clearfix:after {  
  content: " ";  /*Old browsers doesn't support empty content*/
  display: block;  
  height: 0;  
  clear: both;  
  visibility: hidden;
}
 
/*If you do not need(or care about) IE support*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body
{
	color: #fff;
}

#main {
	margin: 70px auto 0;
	width: 100%;
	text-shadow: 2px 2px solid #300c0a;
	padding-bottom: 20px;
	box-sizing: border-box;
}

#main h2,h3
{
	line-height: 170%;
}

#main h2 {
	width: 100%;
	color: #fff;
	padding: 15px;
	font-size: 2em;
	font-weight: 500;
	font-family:'Oswald', sans-serif;
	letter-spacing: 2px;
	text-shadow: 2px 2px solid #300c0a;	
	margin-top: 50px;
	border-bottom: 1px solid #fff;
}

#main h3 {
	font-size: 1em;
	line-height: 200%;
	font-family: 'Lato', sans-serif;
	padding: 15px;
	margin: 0;
	font-weight: 400;
}

#main h3,p
{
	text-shadow: 3px 3px solid #300c0a;
	font-size: 1.1em;
}

#main p {
	line-height: 200%;
	font-family: 'Lato', sans-serif;	margin: 0; 
	padding: 15px;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}


/* Gift Card Styles */
.cardValue{
	float:left;
	background-color: green;
	border-radius: 5px;
	width: 70px;
	padding: 10px 5px;
	margin-left: 15px;
	font-size:15px;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}


.cardValue:before{
	content: "$"
}

.gift_wrap
{
	width: 85%;
	margin: 0 auto;
}

#giftCardForm{
	float: left;
	width: 40%;
	display: block;
	background: #fff;
	border-radius: 10px;
	margin-top: 30px;
}

#giftCardForm div{

	display: table;

}

#dineCard{
	margin-top: 20px;
	position: relative;
	font-family: 'Oleo Script', cursive;
	font-size: 1.5em;	
}


#dineCard #printName{
	position: absolute;
	top:20px;
	left: 10px;
	font-family: 'Oleo Script', cursive;
	font-size: 1.5em;
	color: #300c0a;

	text-transform: capitalize;
}


#dineCard #printValue{
	position: absolute;
	top:70px;
	left: 10px;
	font-size: 20px;
	color: #C50000;
	text-transform: capitalize;
}

.cardPreview{
	float: left;
	width: 40%;
	margin-left: 40px;
}

input[type=text]{
	width: 90%;
	height: 25px;
	padding:5px;
	border-radius: 5px;
	border:1px solid #efefef;
	margin-left: 5px;
	margin-top: 5px;
	color: #000;
}	

input[type=submit]{
	width: 80px;
	background: #3498DB;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	margin:20px auto ;
	display: block;

}

label{
		display: block;
		font-size: 14px;
		color: #333;
		margin-top: 10px;	
}



/*Location Page CSS*/

#map-canvas{
	 width: 500px;
     height: 410px;
     margin: 50px 10px 50px 50px;
     margin-left: 50px;
     padding: 10px;
     border: 1px solid #fff;
}

#locations
{
	background: rgba(0,0,0, 0.4);
	font-family: 'Oleo Script', cursive;
	width: 100%;
	padding: 20px;
	color: #fff;
	display: table;
	text-align: center;
}

.find
{
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px solid #300c0a;	
}



.locationSelect{
	float: left;
	width: 30%;
	margin-top: 50px;
	background: #fff;
	border-radius: 10px;
}

.locationSelect a
{
	text-decoration: none;
	color: #300c0a;
}

.locationSelect ul
{
	display: inline-block;
	margin: 3%;
}

.locationSelect ul li
{
	list-style-type: none;
	font-size: 1em;
	line-height: 200%;
	font-family: 'Lato', sans-serif;
}

.locationSelect ul li:first-child
{
	font-size: 1.2em;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

.locationSelect a:hover
{
	border-bottom: 1px solid #300c0a;
	color: #300c0a;
}


.locationPreview{
    float: right;
	width: 60%
}

.info{
	display: none;
}
#dineCard #printValue{
	position: absolute;
	top:70px;
	left: 10px;
	font-size: 20px;
	color: #C50000;
	text-transform: capitalize;
}

.cardPreview{
	float: left;
	width: 40%;
	margin-left: 40px;
}

.printValue:before
{
	content: "$";
	color: #000;
}

#bottom_content
{
	height: 50%;
}

#foot
{
	height: 35%;
}

.testimonials h1
{
	font-family: 'Oleo Script', cursive;
	font-size: 3.5em;	
	margin-top: 2%;
}

.fblocks
{
	width: 100%;
	height: auto;
	border-top: 1px solid #fff; ;
}

.fblocks a
{
	text-decoration: none;
	color: #fff;
}

.fblocks a:hover
{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.fblocks ul
{
	display: inline-block;
	margin: 3%;
}

.fblocks ul li
{
	list-style-type: none;
	font-size: 1em;
	line-height: 200%;
	font-family: 'Lato', sans-serif;
}

.fblocks ul li:first-child
{
	font-size: 1.2em;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

.social 
{
	font-size: 1.8em;
}

.social i
{
	margin: 1.3%;
}

.copyright
{
	border-top: 1px solid #fff;
	width: 30%;
	margin: 0 auto;
	padding: 10px;
}


/*Careers Page*/
.openingsWrapper{
	display: block;
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.openings {
	width: 30%;
	display: block;
	background: #300c0a;
	border: 2px solid #fff;
	float: left;
	height: 40px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	padding: 0 8px;
	text-align: center;
	margin: 15px;
	cursor: pointer;
}

.openings:hover
{
	background: #fff;
	color: #300c0a;
}

#careersForm{
	width: 60%;
	display: block;
	background: #fff;
	border-radius: 10px;
	margin-top: 30px;
	margin: 0 auto;
	padding: 20px 0px;
}



.formOutput{

	width: 40%;
	display: none;
	background: green;
	color: #fff;
	margin: 0 auto;
	padding: 5px 0px;
}


